body {
	background-color: black;
}
#background img{
	position: absolute;
	height: 100%;
	width: 100%;
}

hr {
	border: none;
	border-bottom: 1px solid #C8C8C8;
}

.container {
	width: 350px;
	position: absolute;
	margin-left: 40%;
	margin-top: 10%;
}

.header {
	text-align: center;
	font-family: Verdana;
	color: #0000FF;
}

.game-container {
	height: 400px;
	margin-top: 10px;
}

.grid {
	float: left;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 2px #EEEEEE;
	border: 1px solid #CCCCCC;
}

.controls-container {
	width: 130px;
	float: right;
	height: 100%;
}

.score-container {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 2px #EEEEEE;
	text-align: center;
	color: #FF0000;
	font-size: 25px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	padding: 5px;
}

.score-container::before {
	content: "Lines Cleared";
	width: 100%;
	float: right;
	color: #BBBBBB;
	font-size: 15px;
	font-weight: normal;
}

.next-container {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 2px #EEEEEE;
	text-align: center;
	color: #FF0000;
	font-size: 25px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
}

.next-container::before {
	content: "Next Piece";
	width: 100%;
	float: right;
	color: #BBBBBB;
	font-size: 15px;
	font-weight: normal;
}

